/*****Style*****/

.clip{}
.clip>* {float:left;margin-bottom:.5em;}
.clip>*:first-child{margin-left:0%;}
.clip:after{clear:both;display:block;content:"";}

.clip-3>*{
	margin-left:.5%;
	width: 33% !important;
}

.clip-2>*{
	margin-left:1%;
	width: 49.5% !important;
}


/*****************************establishment*****************************************/
.etckv{}
/*.etckv h2{font-size:35px;letter-spacing:0;}*/

.Interrogation{
	background:#fff url(../images/bg.png) center center no-repeat;
	background-size: cover;
	/*min-height: 1192px;*/
	padding: 150px 0;
}


.Interrogation h1 {font-size: 40px;color:#ff6e52;margin-bottom:.5em}
.Interrogation h2{font-size:25px;font-weight:bold;text-align:center;}

.Interrogation ul{padding-top: 30px;text-align: center;max-width:900px;margin:auto;}
.Interrogation ul li{width:33%;margin:4% 0;padding:0 5%;}
.Interrogation ul li aside{margin: auto;}
.Interrogation ul li h4{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.1em; 
	margin:20px auto
}

.Interrogation.establishment ul li:last-child{display:none;}


.Interrogation ul li p{font-size:15px;font-weight:bold;line-height:1.6}
.Interrogation ul li a{color:#333;cursor: pointer;}
.Interrogation ul li a:hover{color:#ff6e52;}



.Information{padding: 0px 0 60px}
.Information h1{
	border: 1px solid #231815;
	font-size: 20px;
	border-radius:35px;
	font-weight: bold;
	letter-spacing: 4px;
	line-height:2.5;
	max-width: 900px;
    margin: auto;
}

.Information article{max-width: 870px;margin:auto;padding: 30px 0}
.Information article h3{font-size: 20px;font-weight: bold;margin-bottom: 1em}
.Information article>ul{list-style: decimal;padding-left: 2em}
.Information article>ul>li{font-size: 16px;font-weight: bold}

.Information article ol{margin-top:15px;}
.Information article ol>li{font-size: 15px;margin:2px 2% 2px 0;font-weight:normal;}

.btn-send{
	border-radius: 10px;
	border:1px #595757 solid;
	color: #595757;
	display: inline-block;
	font-size: 25px;
	font-weight: bold;
	line-height: 2.5em;
	letter-spacing:.1em;
	text-align: center;
	padding:0 .5em;
	min-width: 150px;
}

.btn-send:hover{
	background-color:#ff6e52;border-color:#ff6e52;
	color: #fff;
	transition: all 0.8s;
}

.btns{max-width:550px;margin:30px auto;}

.btns>div{text-align:left;}
.btns>div:last-child{text-align:right;}

/*/1-2/*/

.document{background-color: #f9f6f3;padding: 80px 0;}
.document hr{margin:20px auto;}

.document h1{
	font-size:32px; 
	font-weight:bold;
	margin-bottom:1em;
	text-align: center;
}

.document article{max-width: 600px;margin: auto}
.document article ul {margin-bottom:20px;max-width:500px;margin: auto}
.document article ul>li{
	display:block;
	margin-bottom: 1.5em;
}
.document article ul>li h3{font-size: 16px;line-height: 1.5em;padding: 0 5px;font-weight:bold;margin-bottom:-1em;}
.document article ul>li input[type=text],
.document article ul>li input[type=password]
 {
	border-radius:10px;border-color:#918b8a;
    color: #161c1d;
	font-size: 16px;font-weight: bold;
	letter-spacing: 1px;
	max-width: 600px;
	width: 100%;
}

.document article ul>li aside{
	background:center center no-repeat;background-size: contain;
    margin: auto;
	padding-bottom:27%;
	width: 88%;
}

.document article ul>li h6{
	color: #ff6e52;
	font-size: 18px;
	line-height: 3em;
	letter-spacing: 3px;
}

.document article ul>li h6 a{display: inline-block;margin-right: 10px;width:25px;}
.document article ul>li h6 a:hover img{transform:scale(0.95);transform:rotate(-180deg);}

.document article ol.caution{margin:auto;font-size:13px;max-width:500px;}
.document article ol.caution li{margin-left:2em;}


.document figure{max-width: 700px;margin:auto;padding: 50px 0}
.document figure h1{font-size:24px;letter-spacing: 0.2em}
.document figure hr{border-color:#908d8b;margin: 30px 0;}

.document figure ul>li>h3{font-size:15px;line-height: 2.5em;letter-spacing:.1em;}
.document figure ul>li>h3 a{
	display: inline-block;
	width: 30px;
	margin:0 10px;
}


/*
.document figure ul>li>h3 a:hover img{transform:scale(0.95);}
*/
.document figure ul>li input[type=checkbox]{margin: 0 15px 0 0;}

.verifyArea{}
.verifyArea .verifyImg{padding-left:10px;}


.checkRuleForm {margin:0 20px;}
.checkRuleForm h3{font-weight:bold;}
.checkRuleForm textarea{min-height:9em;font-size:12px;}


/*/1-3/*/
.testbox article{margin: auto;text-align: center;padding: 20px 0 30px}
.testbox article ul {max-width:400px;}
.testbox article ul>li{margin: auto}
.testbox article ul>li h3 {line-height:2;margin:1em 0 .5em;}
.testbox article ul>li input[type=text] {text-align: center}
.testbox article ul>li p{color:#ff6e52;}
.testbox article ul>li p b{margin:0 5px}
.testbox article ul>li p a{color:#ff6e52;text-decoration:underline;}


/*/1-8/*/
.endbox{padding: 100px 0 150px}
.endbox article{max-width:none}
.endbox article h2{
	font-size: 18px;
	line-height:1.8em;
	text-align: center;
}

/*1-4,1-6*/

.form>.container{max-width:1000px;}

.formList{padding:20px 0;}
.formList ol{margin-left:1.7em;}
.formList .img{padding-right:30px;}
.formList .img aside{margin:30px 0;max-width:380px;position:relative;height:250px;background-color:#FFF;border-radius:15px;
							  box-shadow:0 0 5px rgba(0,0,0,.25);transition:all .3s;
							}
.formList .img aside div{position:relative;z-index: 0;text-align:center;}
.formList .img aside div img{max-height:45px;margin-bottom:.5em;}
.formList .img aside div p small{display:block;color:#999}

.formList .img aside input[type=file]{position:absolute;left:0;top:0;height:100%;width:100%;opacity: 0;cursor:pointer;z-index: 10}

.formList .img aside:hover{box-shadow:0 0 8px rgba(0,0,0,.25);background-color:#fbf4ea;}

.formList .img h2,
.formList .img h3{font-weight:bold;}


.formList .txt{padding-left: 0;}
.formList .txt ul{}
.formList .txt ul li {border-left:1px solid #999;padding:.5em 0 .5em 40px;margin-bottom:1em;}
.formList .txt h5{margin-bottom:.5em;font-weight:bold;}

.formList .txt label{line-height:1.5;}
.formList .txt input[type=text],
.formList .txt select
{border:1px solid #918b8a;border-radius:8px;/*max-width:300px;*/background-color: #fff;margin-bottom:5px;-webkit-appearance: none;}

.formList .txt select{background-image:url(../images/ico/arrow-org.png);}
.formList .txt input[type=text].address{max-width:none;}

.formList .txt input:disabled{background: #c7c7c7;cursor:not-allowed;}


.agreement h5{margin-bottom:1em;}
.agreement label{font-size:22px;font-weight:bold;line-height:1.3}


.formListCheck{max-width:600px;padding-left: 30px;border-left:5px solid #ff6e52;margin-bottom:50px;}

.formListCheck dl{border-bottom:2px solid #333;padding-bottom:.5em;margin-bottom:1em;}
.formListCheck dl:last-child{margin-bottom:0;}

.formListCheck dt{font-weight:bold;padding-right:1em;width: 8em;font-size:18px;}
.formListCheck dd{text-align:right;font-size:15px;}

.formListCheck dd input[type=text]{max-width:320px;}
.formListCheck dd select{max-width:320px;background-image:url(../images/ico/arrow-org.png);}
.formListCheck dd .clip{max-width:320px;width: 100%;float:right;}

.supplemtnt-h3{max-width:600px;margin:30px auto;font-weight:bold;}
