
/*金融卡開通*/
.debitInter{
	background-image: url(../images/webbank/bg.jpg);
	/*min-height:1300px;*/
}

.debitInter ul li a{filter: grayscale(1) opacity(0.5);}
.debitInter ul li a:hover{filter: grayscale(0) opacity(1);}

.debit .container article>h3{margin-bottom:1em;text-align:center;font-weight:normal;line-height:1.8}
.debit h4{color:#ff6e52;margin-top:1em;font-size:20px;}

.debit-step{max-width:600px;margin-left:auto;margin-right:auto;}
.debit-step ul li{width:33%}

/*
.debit-kv.kv h2 {font-size:35px;letter-spacing:0}
*/

/*手機尺吋*/	
@media (max-width: 767px) {
	.debit .container article>h3{font-size:18px;}	
	.debit .container article>h3 br{display:none;}	

	.debit-step.stepList ul li{width:auto;min-width:25%;}
}