
.index-fb .footertop{display: block}
.index-fb .footerBottom{display: none}

.footertopbg {overflow:hidden;}
.footertopbg aside{background: url(../images/index/08.jpg) center center no-repeat;background-size: cover;}

.btnlink{
	bottom:100px;
	height: 100px;
    position: fixed;
    right:calc(10% - 50px);
	width: 100px;
    z-index: 99;	
}

.btnlink a:hover img{opacity: 0.9;transform:scale(0.95);transition:all 0.9s}

.wrapper{overflow-x:hidden}

.imgbg .container{max-width: 1200px;width: 100%;position: relative;height:100%;}

.imgbg{background:center center no-repeat;background-size: cover;}

.vertical{max-width: 3em;top: 30px;position:absolute;left: 0;}
.vertical li{
	color:#231815;
	font-size: 18px;
	letter-spacing: 6px;
	margin: 20px 0;
}

.upright{writing-mode:vertical-lr;text-orientation:inherit;}
.vrl{writing-mode: vertical-rl;}

.titlebox{
	max-width:645px;
	position: relative;padding-left: 100px;padding-top: 70px;
	z-index: 99;
}

.titlebox h1{
	color: #f2952c;
	font-size:40px;font-weight: bold;
	margin:0px;text-align: left;
}
.titlebox h2{
	color: #3e3a39;font-size:20px;font-weight: bold;
	letter-spacing: .3em;
}
.titlebox h2>b{
	background:url(../images/index/b.png) center center no-repeat;
	color: #fff;
	display: inline-block;
	line-height: 50px;
	text-align:center;
	width: 59px;
}
.titlebox h2>span{color: #e8440d;margin-left: 5px}
.r-box a{position: absolute;right: 50px;}

.titlebox h3{
	background-color:#ff6857;border-radius: 20px;
	color:#fff;
	font-size:27px;font-weight: bold;
	line-height: 2;
	letter-spacing: .3em;
	margin-top: 10px;
	text-align:center;
	width:300px;
}

.titlebox h3>b{font-size: 44px;line-height:1.2}
	
.titlebox a{
    border-bottom: 1px solid;
    color: #595757;
	display: block;
    font-size: 19px;
    line-height: 1.5;
	padding-top: 50px;
    width: 105px;   	
}

.titlebox a:after{
	background: url(../images/index/abtn.png) center center no-repeat;background-size: cover;
	content: "";
	display: inline-block;
	height: 30px;
	margin-left: 10px;
	position:absolute;
	width: 30px;
	transition: all 0.3s;
}

.titlebox a:hover{color:#f2952c;}
.titlebox a:hover:after{margin-left:20px;}

.boxbg01{background-image:url(../images/index/01.jpg);min-height:787px}
.boxbg01 aside{position: absolute;
	right:-320px;
    padding:55px 40px 0;
	top:0px;
}

.boxbg01 article{
	max-width: 645px;
	position: relative;
	top:160px;
	z-index: 99;
}
.boxbg01 article>h1{font-size: 70px;text-align:left;line-height: 1;margin: 0}
.boxbg01 article>h3{
	background-color:#ffc83e;
    border-radius: 29px;
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 6px;
    margin-top: 33px;
    text-align: center;
	width: 418px;
}

.boxbg02{background-image:url(../images/index/02.jpg);min-height:820px}

.boxbg02 .titlebox{
	max-width: inherit;
    position: relative;
    padding:180px 40px 0;
    text-align: center }

.boxbg02 .titlebox h1{text-align: center;font-size:50px;margin-bottom:1em;}
.boxbg02 .titlebox h2{line-height:1.8;font-size:28px;}
.boxbg02 aside{margin:40px auto;text-align: center;max-width:700px;}

.boxbg03{background-image:url(../images/index/03.jpg);}
.boxbg03>div{position:relative;min-height:750px;}
.boxbg03 .r-box{
	max-width: 755px;
	text-align: left;
	position: absolute;
	right:0px;
	padding:0;
	top:calc(50% - 100px) ;
}


.boxbg03 aside{position: absolute;
	left: calc(0% - 100px);
    padding: 20px 40px;
	top:60px;
}


.boxbg04{background-image:url(../images/index/04.jpg);min-height:940px}
.boxbg04 .r-box{position: absolute;text-align: left;right:0;top:220px}
.boxbg04 .r-box a{padding-top:20px;}

.boxbg04 aside{position: absolute;
	left: calc(0% - 170px);
    padding: 20px 40px;
	top:360px;
}


.boxbg05{background-image:url(../images/index/05.jpg);min-height: 1073px}
.l-box{padding-top: 330px !important;}
.l-box h1{margin-bottom:1em;}
.l-box h2{margin-bottom: 0.5em} 
.l-box h2 i{margin-right:10px}

.boxbg05 aside{position: absolute;
	right:-250px;
    padding:300px 40px 0;
	top:0px;
}


.boxbg06{background-image:url(../images/index/06.jpg);min-height: 980px}
.boxbg06 .r-box{position: absolute;text-align: left;right: 0;}

.r-box h1{margin-bottom: .5em !important;font-size: 45px}
.r-box h2{color:#3e3a39;font-size:20px;font-weight: bold;line-height: 1.5}

.boxbg06 aside{position: absolute;
	left: calc(0% - 130px);
    padding: 20px 40px;
	top:0;
}


.boxbg08{background-image:url(../images/index/07.jpg);min-height: 972px}
.boxbg08 aside{text-align: center;
    top:50%;
	left:calc(50% - 425px);
    position: absolute;padding: 20px 40px}


@media (max-width: 1920px) {
	.footertopbg aside{min-height: 890px}
}


@media (max-width: 1400px) {
	.vertical {left: 15px;}
	.titlebox h2 {font-size: 24px !important;padding-right: 15px;}
	.titlebox h1 {font-size: 50px;}
	.boxbg03 .r-box {right: 0px;}
	.titlebox h2>b {background-size: cover;line-height: 34px;width: 40px;}
	
}

@media (max-width: 1200px) {
	.boxbg01{min-height:450px;}
	.boxbg01 aside{right:-100px;width: 85%;}
	.boxbg01 article{padding-left: 1em;}

	.titlebox h2{letter-spacing:.1em;}


	.boxbg03>div{ min-height: 350px;}
	.boxbg03 aside {
	    position: absolute;
	    left: 50px;
	    padding: 0;
	    top: 100px;
	    width: 50%;
	}
	
	.boxbg03 .r-box{
		top:calc(50% - 50px) ;
		right:50px;
	}

	.boxbg04 aside {
	    position: absolute;
	    left: 0;
	    padding: 0;
	    top: 400px;
	    width: 60%;
	}
	.boxbg04 .r-box{right:80px;}

	.boxbg05{min-height:none;}
	.boxbg05 aside{left:auto;right:10%;top:auto;bottom:0;padding:0;width:80%;}

	.boxbg05 .l-box{padding:0 !important;position:absolute;right:10%;top:10%;}
	.boxbg05 .titlebox a{padding-top:20px;}

	
	.boxbg06{height:980px;min-height:0;}
	.boxbg06 .r-box{right:50%;}
	.boxbg06 aside{width:90%;left:10%;padding:0;bottom:50px;top:auto;}

	.boxbg08 aside{top:70%;}

}

@media (max-width: 992px) {

	.imgbg{min-height:0;}
	
	.boxbg01 {height:350px}
	.boxbg01 article {top: 70px;left: 15px;}
	.boxbg01 article>h1 {font-size: 50px;}
    .boxbg01 article>h3 {font-size: 24px;width:350px;}

    .boxbg02{height:800px}
	
	.boxbg03{height:800px}
    .boxbg03 aside {
	    position: absolute;
	    left: 10%;
	    padding: 0;
	    top: 50px;
	    width: 80%;
	}

	.boxbg03 .r-box{top:auto;bottom:50px;right:20%}
	.boxbg04{height:800px}
	.boxbg04 .r-box{top:20px;}
	.boxbg04 aside{left:10%;width:65%;}
	
	.boxbg05 {height:800px}
	.boxbg05 .l-box{top:15%;}
	.boxbg05 aside {
		right: 10%;
		bottom: 5%;
	}

	.boxbg06 .r-box {right:auto;left:10%;top:15%;}
	.r-box a {position: initial;padding-top: 30px;}

	.boxbg08{height:850px}
	.boxbg08 aside{padding:0;top:25%;width:90%;left:5%;}

	.footertopbg aside{min-height:600px}

	
}


/*手機尺吋*/	
@media (max-width: 767px) {
	
	.vertical{display:none;}

	.titlebox{padding:0}
	.titlebox h1 {font-size: 30px !important;}
	.titlebox h2 {font-size: 16px !important;margin-bottom: .2em;}

	.boxbg01 {height:400px}
	.boxbg01 article {top: 40px;left: 10px;}
	.boxbg01 article>h1 {font-size: 35px;}
    .boxbg01 article>h3 {font-size: 15px;width:80%;margin-top:10px}

    .boxbg01 aside{width:90%;right:5%;padding:0;top:auto;bottom:0;}
	
	.boxbg02 {height:450px}
	.boxbg02 .titlebox{padding-top:80px;}
	
	.boxbg03 {height:480px}
	.boxbg03 aside{width:70%;left:15%;bottom:15%;top:auto;}
	.boxbg03 .titlebox{right:0;top:10%;bottom:auto;padding:0 15px;}
	
	.boxbg04{height:550px;}
	.boxbg04 .r-box{right:20px;}
	.boxbg04 aside{width:80%;left:10%;bottom:10px;top:auto;}
	
	.boxbg05{height:550px;}
	.boxbg05 .l-box{top:10%;right:15%;}
	.boxbg05 .l-box img{height:30px;}

	.boxbg06 {height:480px;}
	.boxbg06 .r-box{padding:0;top:5%;}	
	
	.boxbg08 {height:450px}
	.boxbg08 .titlebox{padding:0;top:5%;left:20%;}
	
	
	.footertopbg aside {min-height: 300px;}

	.btnlink{right:10px}
	
}

/*IPHONE X*/    
@media only screen and (device-width:375px) and (-webkit-device-pixel-ratio: 3) {

}


/*IPHONE SE*/    
@media (max-width: 360px) {
	
	.titlebox h3 {font-size: 17px;width: 220px;}
	.titlebox h3>b {font-size: 25px;}
	
	.boxbg01 aside {padding: 120px 0px 0;}
	.boxbg03 {min-height: 580px;}

}
