﻿/*****Reset*****/

/*外連字型*/
/*Noto+Sans|Montserrat
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*/

/* CSS Document */

/*****Basic Elements*****/
html{}
body{
	color:#231815;
	font-family:"Tahoma","微軟正黑體";
	font-size:15px;
	line-height:1.8;
	letter-spacing:.1em;
}

body.fixed{position:fixed}

.visible-xs{display: none !important;}

/*********************************Generic Classes*****************************************/

.wrapper{padding:0;}
.wrapper h1{font-weight:800;margin-bottom:1em;text-align:center;}


h1{color:#231815;font-size: 30px;font-weight: bold}
h3{color:#231815;font-size: 22px}


/*****************************Basic Layout*****************************************/

/*btn-top*/
.btnTop{
	bottom:10px;
	position:fixed;
	right:10px;
	z-index: 99;}

.btnTop a{
	background: #4CAF50;
	color:#fff;
	height:50px;
	text-align:center;
	width:50px;}

.btnTop a img{transform:rotate(180deg);}

.btnTop a:hover{background: rgb(245, 109, 82,.9);}


/*btn*/
.btn-pri{background:none;border:1px solid #F44336;color:#F44336;}
.btn-pri:hover{background-color:#f44336;color:#fff;}
.btn-back{background-color:#ccc}



/*kv*/
.kv{
	position:relative;
	z-index: 0;
	height:300px;
	background-position:center center;
	display: flex;
	 align-items: center; 
	/*box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.3);*/
}

.kv h2{font-size:40px;font-weight:bold;padding-left:.8em;letter-spacing:0;}
.kv h2 small{display:block;font-size:20px;color:#3e3a39;padding-top:.5em;font-weight:bold;letter-spacing:.1em;}

/*****************************Layout End*****************************************/

/*****************************Header Start*****************************************/

header{position:relative;width:100%;z-index: 999;padding:15px 0;}
header h1{text-align:left;}
header h1 a{display: block;height:50px;}

/*Nav*/
.mainNav{padding-left:30px;display:inline-block;position:relative;min-width:400px;}
.mainNav:after{
	background-color:#f1f1f1;border-radius:40px;
	position:absolute;z-index:0;width:0;height:100%;content:"";right:0;
	transition:all.5s;
}

.mainNav ul{display: inline-block;vertical-align:middle;position:relative;z-index: 10;}	
.mainNav li{text-align:center;}
.mainNav li a{
	color:#231815;
	font-size:17px;
	font-weight:bold;
	letter-spacing:1px;
	line-height:3;
    text-align: center;
    padding: 0 .8em;
}

.mainNav li a:hover{color:#f56d52 !important;text-decoration:none;}

.mainNav a.btn-menu{
	width:45px;
	height:45px;
	border-radius:100%;
	margin:5px;
	background-color:#ff6e52;
	display:inline-block;
	vertical-align:middle;
	padding-top:20px;
	position:relative;
	z-index: 10;

}

.mainNav a.btn-menu hr{height:3px;background-color:#fff;width:50%;margin:0 25% 5px;border:none;border-radius:5px;transition:all .3s}
.mainNav a.btn-menu hr:nth-child(1){}
.mainNav a.btn-menu hr:nth-child(2){width:25%;}

.mainNav a.btn-menu:hover{}
.mainNav a.btn-menu.active hr:nth-child(1){width:25%;}
.mainNav a.btn-menu.active hr:nth-child(2){width:50%;}



.openingBtn{
	background-color: #ff6e52;
	border-radius: 30px;
	color: #fff;
	display:inline-block;
    font-weight: bold;
    font-size: 15px;
    letter-spacing:0;
    line-height: 2.5;
    margin-top:5px;
    text-align:center;
    padding:0 1em;
    /*width:110px;*/
   /* display:none;*/
}

.cardBtn{background-color: rgba(0,176,80,100);}

.openingBtn:hover{opacity:.7;color:#fff;}


/*語系選擇*/
.lanNav{text-align: right;margin-right:15px;margin-top:0px;}

.lanNav ul{display:inline-block;vertical-align:middle;margin-right:10px;}

.lanNav ul li{margin:0 -5px;position:relative; background-color:#f1f1f1;width: 50px;border-radius:100%;}
.lanNav ul li:hover{z-index:99}
.lanNav ul li a{
	border-radius:100%;
	color: #231815;
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
    width:35px;
    text-align: center;
    display:block;
    margin:5px auto;
   
}

.lanNav ul li a:hover{
	background-color: #ff6e52;
	color: #fff;
	transition: all 0.7s;
}


.lanNav button.current-lan{
	background-color:#ff6e52;
	border-radius:100%;
	color: #fff;
	font-size: 15px;
	width: 35px;
	line-height: 35px;
	text-align: center;
	padding:0;
	position:relative;
	z-index: 20;
}


@media (min-width: 768px) {

	/*active*/
	/*.mainNav ul {display:none;opacity:0;}*/
	.mainNav a.btn-menu{display:none;}
	/*.mainNav.active ul{display:inline-block;opacity:1;}
	.mainNav.active:after{width:100%;}

	/*lanNav Active*/
	.lanNav {overflow-x:hidden;}
	.lanNav ul li{transition:all .7s;opacity:0;}
	.lanNav ul li:nth-child(1){transform:translateX(500%);}
	.lanNav ul li:nth-child(2){transform:translateX(400%);}
	.lanNav ul li:nth-child(3){transform:translateX(300%);}
	.lanNav ul li:nth-child(4){transform:translateX(200%);}

	.lanNav.active ul li{transform:translateX(0%);opacity:1}

}



/*stepList*/
.stepList{margin-bottom:30px;}
.stepList ul{text-align: center;}
.stepList ul li{width:24.8%;text-align:left;}
.stepList ul li h4{font-weight: bold;font-size:18px;letter-spacing:.3em;margin-bottom:.2em;}
.stepList ul li p{font-weight: bold;font-size:18px;line-height:2;letter-spacing:.1em;margin-bottom:.2em;display:inline-block;}
.stepList ul li p:after{content:"";height:5px ;background-color: #ff6e52;display:block;transform:translateY(15px);opacity:0;border-radius: 5px;}

.stepList ul li.active {}
.stepList ul li.active h4{color:#ff6e52;}
.stepList ul li.active p{background-color:#ff6e52;padding:0 .5em;color:#fff;border-radius: .5em;}
.stepList ul li.active p:after{opacity:1;}

.stepList-2 ul {max-width:600px;margin:auto;}
.stepList-2 ul li{width:49.8% !important;}

.stepList-3 ul {max-width:600px;margin:auto;}
.stepList-3 ul li{width:33% !important;}

/*****************************Header End*****************************************/


/*****************************Footer Start*****************************************/

.footertop{background-color:#65942e;padding: 50px 0;}

.footertop article{max-width: 370px;}
.footertop h1{color:#fff;font-size:59px;font-weight: bold;margin-bottom: 10px}
.footertop h6{color:#fff;font-size: 17px;font-weight: 300;}

.footertop ul {text-align:center;max-width:320px;float:right;}
.footertop ul li{max-width: 48%;padding:0 1.5%;vertical-align: middle;}

.footerBottom{background-color:#65942e;display:none;padding:50px 0;}
.footerNav{} 
.footerNav li{vertical-align: top;width: 22%;margin:2% 1%}
.footerNav li h3{
	font-size:17px;font-weight:bold;
	letter-spacing: .1em;
	margin-bottom: 0.5em;
	color:#fff;
}

.footerNav li>a{
	color:#fff;
	font-size:14px;
	display:block;
	line-height: 2em;
	letter-spacing: .1em;
}
.footerNav li a:hover{color:#ffeb3b;}

footer{background-color:#fff;padding:20px 0 20px 0}
footer ul{padding: 10px 0 0px;text-align: right}
footer ul>li{
	border-right: 1px solid #000;
	color:#3e3a39;
	font-size: 14px;
	line-height: 1em;letter-spacing:1px !important;
	margin: 10px 0;
	padding:0 .7em;
	text-align: center}

footer ul li a{color:#333;text-decoration:underline;}

footer p{color:#3e3a39;font-size: 12px;text-align:right;}

.all-item .footertop{display:none;}
.all-item .footerBottom{display:block;}

/*****************************Footer End*****************************************/

/*只有PC會出現的樣式*/
@media(min-width:1024px){


}


@media (max-width: 1200px) {
	.kv{height:300px;background-size:cover;}
}

/*平板尺吋*/
@media (max-width:992px) {

	.kv{height:300px;background-size:cover;}
	.kv h2{font-size: 35px;padding-left:.5em;}

	footer ul{text-align:center;}
	footer ul>li{text-align:center;padding:0 1em;}
	footer p{text-align:center;}

	.footertop h6{font-size:15px;}
	.footertop ul li {
	    max-width: 46%;
	    padding: 0 1%;
	}

	.stepList ul li p{letter-spacing:.2em;font-size:16px;}
	
}


/*手機尺吋*/	
@media (max-width: 767px) {
	
	footer ul li a{display:inline-block;}
	.footertop {
		background-color: #65942e;
		padding: 50px 0;
		text-align: center;
	}
	.footertop ul {float:none;margin-top:20px;}
	
	footer ul {margin-bottom:15px;}
	footer ul>li{padding:0 .2em;font-size:12px !important;margin: 5px 0;}
	
	.footerNav li{width:46%;margin-bottom:10%;}


	.kv{height:220px;}
	.kv h2{padding-left:.5em;font-size: 25px !important;width: 8em;}
	.kv h2 small{font-size:13px;}


	
	.stepList {margin-bottom:0;background: #e8e8e8;padding-top:30px;}
	.stepList ul li{width:49%;margin-bottom:5%;padding-left:5%;}
	.stepList ul li p:after{transform: translateY(15px);}
	
	
}

/*IPHONE X*/	
@supports (-webkit-overflow-scrolling: touch)  and (max-width: 767px)  {

	
}

/*IPHONE SE*/    
@media (max-width: 360px) {

}
