
@import url("home.css");
@import url("account.css");
@import url("webbank.css");
@import url("debitcard.css");
@import url("others.css");
@import url("product.css");
@import url("fixed.css");



.etckv{background-image:url(../images/kv/debit.jpg);}
.webbank-kv{background-image:url(../images/kv/webbank.jpg);}
.debit-kv{background-image:url(../images/kv/account.jpg);}
.product-kv{background-image:url(../images/kv/product.jpg);}


