/*平板尺吋*/
@media (max-width:992px) {

	header{padding:20px 0;}
	header .openingBtn{position:absolute;right: 15px;top: 60px;}
	header .lanNav{margin-right:120px;margin-top:10px;}

}/*平板結束*/


/*手機尺吋*/	
@media (max-width: 767px) {
	
	header{overflow-x:hidden;padding:5px 0;position:static;}
	header h1{ transform: translateY(5px);}
	header .openingBtn{right: 75px;top: 12px;}

	/*主選單*/
	
	.mainNav{min-width:0;transition:all .7s;}
	.mainNav:after{display:none;}
	.mainNav ul{
		background:rgba(255,255,255,.95);
		right:0;
		margin:0;
		overflow:auto;
		padding:100px 10px 50px;
		position:fixed;
		transform:translateX(100%);
		transition:all .5s;top:0;
		width:60%;
		height:100%;
		-webkit-overflow-scrolling: touch;
		z-index: 990;
		transition:all .7s;
		}

	.mainNav.active ul{transform:translateX(0);}

	.mainNav>ul>li{
		border-bottom: 1px solid #ccc;
		display:block;
		margin:0 auto;
		padding:1em;
		position:relative;
		width: 60%;
		text-align:center;
	}
	
	.mainNav>ul>li a{
		color:#333;
		font-size:16px;
		letter-spacing:.2em;
		line-height:3;
		padding:0;
	}

	.lanNav ul{
		position: fixed;
	    bottom: 10px;
	    z-index: 9999;
	    width: 60%;
	    display: block;
	    right: 15px;
	    opacity:0;
	    transform:translateX(100%);
	    transition:all .7s;
	}

	.lanNav.active ul{opacity:1;transform:translateX(0);}
	.lanNav button.current-lan{display:none;}

	.mainNav a.btn-menu{z-index: 999;position:fixed;right:15px;top:12px;}
	
	.mainNav a.btn-menu.active{background-color:transparent;}
	.mainNav a.btn-menu.active hr{margin-bottom:0;background-color:#ff6e52}
	.mainNav a.btn-menu.active hr:nth-child(1){transform:rotate(45deg);width:50%;}
	.mainNav a.btn-menu.active hr:nth-child(2){transform:rotate(-45deg);margin-top:-3px;}
	

	/*遮罩*/
	.block{
		background:rgba(0,0,0,.5);
		display:none;
		height:100%;
		left:0;
		position:fixed;
		top:0;
		width:100%; 
		z-index: 90;
	}

	.block.active{display:block;}
	
	
	/*
	.m-header{
		background:#ff921d;
		box-shadow:rgba(0,0,0,.7) 0 0 5px;
		position:fixed;
		top:0;
		width:100%;
		z-index:9999;
	}
	.m-header dl{height:70px;}

	.m-header dd.m-logo{padding-left: 8px;text-align: left;}
	.m-header dd.m-logo img{height:50px;}

	.m-header dt{font-size:25px;text-align:center;width:70px;}
	.m-header dt a{padding: 0 20px;}
	.mainNav>ul>li>a span{display: inline-block;margin-right: 10px;vertical-align: middle;}
	
	.mainNav>ul>li>a i{display: inline-block;margin: 5px 10px 10px;width: 34px;}
	*/
	

}