/*news*/
.newsArea{padding-bottom:80px;}

.newsList {max-width:1000px;margin:30px auto 50px;}
.newsList dl {border-bottom:1px solid #eee;letter-spacing:0;padding:1em 0;}
.newsList dl:hover{background-color:#f1f1f1;}
.newsList dl dt{width:100px;padding:0 .5em;text-align:center}
.newsList dl dd{padding:0 .5em;}

.newsList dl dd.cate{width:120px;text-align:center;}
.newsList dl dd.cate span,
.newsContent>.category-ico
{
	color:#fc633f;border:1px solid #fc633f;border-radius:1em;
	text-align:center;width:80px;background:#fff;
}

.newsList dl dd.more{width:120px;font-size:12px;text-align:right;}
.newsList dl dd.more a{background:#999;display:inline-block;padding:.3em 1em;border-radius:1em;color:#fff;}
.newsList dl dd.more a:hover{background-color:orange}


.newsContent{max-width:900px;margin:50px auto 20px;border-bottom:1px solid #ccc;}
.newsContent>date{max-width:900px;margin:30px auto 50px;}
.newsContent>.category-ico{margin-left:20px;}
.newsContent>.news-title{margin:.5em 0 1em;border-bottom:1px solid #ccc;padding-bottom:.8em;}

.newsContent .editZone{padding:30px 15px}
.newsContent .editZone p{margin-bottom:1em;}
.newsContent .editZone a{text-decoration:underline;}

/*faq*/
.faqArea{padding:50px 0;background-color:#f9f6f3;}
.faqList{max-width:800px;margin:30px auto 50px;}

.faqList dl{border-bottom:1px solid #ccc;letter-spacing:0;padding:1em 0;}
.faqList dt{width:80px;vertical-align:top;padding-top:5px;}
.faqList dd.title{width:80px;color:#ff6e52;font-size:20px;font-weight:bold;vertical-align:top;}
.faqList dd.text{}
.faqList dd.text h4{margin-bottom:.5em;font-size:22px}


.btn-qa-toggle{width:30px;height:30px;display:inline-block;background:#ff6e52;border-radius:8px;position:relative;}
.btn-qa-toggle:before,
.btn-qa-toggle:after
{
	height:3px;background:#fff;width:50%;content:"";display:block;top:14px;left:25%;position:absolute;
}

.btn-qa-toggle:after{transform:rotate(90deg);opacity:1;}

/*active*/
.faqList dd.text p{display:none}
.faqList dl .btn-qa-toggle{opacity:.7;}

.faqList dl.active{}
.faqList dl.active dd.text p{display:block;}
.faqList dl.active .btn-qa-toggle{opacity:1;}

.faqList dl .btn-qa-toggle:hover{opacity:1;}
.faqList dl.active .btn-qa-toggle:after{opacity:0}


/*Banner Swiper*/
.newsSwiper{margin-bottom:50px;background-color:#f9f6f3;}
.newsSwiper .bn-swiper{text-align:center;max-width:1000px;margin:auto;}
.newsSwiper .bn-swiper .swiper-container{padding:60px 0;}
.newsSwiper .bn-swiper .swiper-slide{padding:0 50px;}
.swiper-pagination-bullet-active{background: #ff6857;}

.swiper-button-prev{background-image:url(../images/ico/swiper.svg);}
.swiper-button-next{background-image:url(../images/ico/swiper2.svg);}



/*分類*/
.category{text-align:center;border-bottom:3px solid #ff6e52;max-width:1000px;margin:auto;}
.category li {margin:0 1em;}
.category li a{font-size:18px;letter-spacing:.2em;color:#333;line-height:2.5;font-weight:bold;}
.category li a:hover,
.category li.active a{color:#ff6e52}

.category-sub {border-bottom:none;margin-top:20px;}
.category-sub ul{background:#fff;display:inline-block;border-radius:30px;padding:.5em 1em;font-size:15px;}
.category-sub li {margin:0 .5em;}
.category-sub li a{font-size:15px;position:relative;line-height:1.5}
.category-sub li a:after{height:2px;background:#ff6e52;content:"";display:block;margin-bottom:5px;width:0;transition:all .5s;}
.category-sub li.active a,.category-sub li a:hover{color:#ff6e52;}
.category-sub li.active a:after,.category-sub li a:hover:after{width:100%;}


/*分頁選單*/
.navigation{}
.page-link{border:none;color:#333;border-radius:100%;margin:0 5px;background:transparent;}
.page-link:hover,.page-item.active .page-link{border:none;background:#fc633f;color:#fff;}
.page-link:focus{box-shadow:none;}

.page-link-prev{margin-right:50px;}
.page-link-next{margin-left:50px;}


.page-link-prev img{margin-right:5px;}
.page-link-next img{transform:rotateY(180deg);margin-left:5px;}

.page-link-prev:hover,
.page-link-next:hover
{background:none;color:#fc633f;}

.page-link-prev:hover img{
	transform:translateX(-10px);
}
.page-link-next:hover img{
	transform:translateX(10px) rotateY(180deg);
}


.page-link-back{margin:0  100px;}
.page-link-back a{font-size:20px;font-weight:bold;text-decoration:underline;}
.page-link-back a:hover{color:#fc633f;background:none;text-decoration:underline;}


/*手機尺吋*/	
@media (max-width: 767px) {
	.newsList dl dt{text-align:left;display:inline-block !important;width:auto !important}
	.newsList dl dd.cate{text-align:left;display:inline-block !important;width:auto !important}
	.newsList dl dd.more{padding-right:20px;}

	.newsContent>.news-title{font-size:1.5rem}

	.faqList dt{text-align:right;}
	.faqList dd.title{margin-top:-1.5em;}
	.faqList dd.text h4{font-size:20px}

	.page-link{margin:0 2px;}
	.page-link-back{margin:0 10px;}

	.category li {margin:0 .7em;}
	.category li a{font-size:16px;letter-spacing:0;}
	
	.category-sub li  {margin:0 .5em;}
	.category-sub li a{font-size:13px;}
	
}