
/*產品專區*/

.productkv {height: auto;background-size: cover;padding-bottom: 34%}

.productArea{padding: 50px 0;background-color: #f9f6f3;}
.productArea h1 {font-size: 32px;font-weight: bold;
    margin:80px 0 30px;
    text-align: center;
}

.variety{padding: 20px 0}
.variety li{width: 18%;margin:0;} 
.variety li a {
	color: #333;
    font-size: 18px;font-weight:bold;
	line-height: 2;letter-spacing: .2em;
}
    
      
.variety li a:hover, .variety li.active a {background-color:#ff6e52;color:#fff;transition:all 0.7s;border-radius: 40px}

.productArea dl{display: table;max-width:800px;margin: 0 auto 50px;width: 100%}
.productArea dt,
.productArea dd{display: table-cell;vertical-align: middle;}
.productArea dt{width:30%;max-width:160px;text-align:center;}

/*.productArea dl dt aside{
	background:center center no-repeat;background-size: cover;
	padding-bottom: 68%;
	max-width: 216px;margin: auto;
	width: 100%;
}
*/

.productArea dd>h1{
	color: #231815;
	font-size: 27px;font-weight: bold;
	letter-spacing: 3px;
	margin:5px auto;
	text-align: left
}

.productArea dd>h2{
	font-size: 25px;
	font-weight: bold; 
	letter-spacing:  .1em;
	margin-bottom: 10px
}

.productArea dd>h2>span,
.productArea dd>h3>span{
	border:2px solid #ff6857;
	border-radius: 25px;
	color:#ff6857;
	display: inline-block;
	font-size: 22px;
	line-height: 1.8em;
	margin: 5px 0;
	padding:0 1em;
	letter-spacing:0;
}

.productArea dd>h3{
	color:#3e3a39;
	font-size: 16px;font-weight:bold;
	letter-spacing: .2em;line-height:1.5; 
}

.productArea>div>figure {margin-bottom: 0;}
.productArea>div>figure dl{border: none}
.productArea>div>figure dt{display:block;text-align: center;width: 100%;margin: auto}
.productArea>div>figure dd{display:block;text-align:center;}
.productArea>div>figure dd>h4{
	color: #717071;
	font-size: 18px;font-weight: bold;letter-spacing:  .2em;
	text-align: center;
}	

.productArea>div>figure dl>dd.text ul{display:none;max-width:700px;margin: auto;list-style: cjk-ideographic;}
.productArea>div>figure dl>dd.text li{color: #333;font-size: 15px;letter-spacing: .1em;text-align:left;}
.productArea>div>figure dl>dd.text li>ol{list-style: none;margin-left:0;}

.productArea hr{border-bottom: 1px solid #746c69;
    max-width: 800px;margin: 20px auto;
	text-align: center;
}

.productArea .hr1{display:none;}

.productArea>div>figure dl.active>dd.text .hr1{display:block;}
.productArea>div>figure dl.active>dd.text ul{display:block;}

@media all and (-ms-high-contrast:none){
	.productArea>div>figure dl>dd.text ul {list-style: disc;}
} /*IE 10+*/


.tb_collapsetb {border-collapse:collapse;margin: 20px 0;width:100%;}

.tb_collapsetb tr{border-bottom:1px solid #9c9998;}
 
.tb_collapsetb td{
	color:#3e3a39;
	font-size: 15px;
	letter-spacing:  .2em;
	padding:5px 0px;position: relative;
	text-align:center; 
}
.tb_collapsetb tr:first-child{font-weight: bold;}

.tb_collapsetb tr:last-child{border:none;}    

.tb_collapsetb tr:nth-child(even){background-color:#f9f6f3;}

.tb_collapsetb td:after{content: "";width: 1px;height: 20px;border-right: 1px solid #9c9998;position: absolute;right: 0;top:calc( 50% - 10px)}

.tb_collapsetb tr td:last-child:after{height: 0}




/*平板尺吋*/
@media (max-width:992px) {
	.variety li{width: 20%}
	.variety li a {font-size: 23px;}
	

}


/*手機尺吋*/	
@media (max-width: 767px) {
	.variety {padding:10px 0;}
	.variety li {width: 92%;}
	.variety li a:hover, .variety li.active a {border-radius: 10px;}
	
	.productArea h1 {margin: 35px 0;}
	
	.productArea dt {width: 100%;margin-bottom:20px;}
	.productArea dt, .productArea dd {display: block;text-align:center;max-width:none;}
	
	.productArea>div>figure dl.active>dd.text ul { width: 80%;margin: auto;}
	.productArea>div>figure dl>dd.text li {font-size: 15px;}
	
	.productArea dd>h1,
	.productArea dd>h2>span,
	.productArea dd>h3>span{font-size: 20px;text-align:center;}
	.productArea dd>h2{font-size: 20px;text-align:center;}
	.productArea dd>h3{text-align:center}
	
	.tb_collapsetb td {font-size: 13px;}
	
}