﻿@charset "utf-8";

/*PC尺吋*/
@media (max-width: 1200px) {
	
}

@media (max-width: 1024px) {
	.document{padding:40px 0;}
	.Interrogation{padding: 80px 0;}      

}
/*平板尺吋*/
@media (max-width:992px) {

	.document figure{padding:20px 0;}
	.formList .img{padding-right:10px;}
	.formList .img h3{font-size:20px;}

	.agreement h5{width:80%;margin:0 auto 1em;}
	
	/*
	.Interrogation{min-height:0;}
	.Interrogation h2{font-size:30px;}
	.Interrogation ul li h1{font-size:23px;letter-spacing: 0.2em;}

	.Information h1{font-size:25px;}
	*/
	.app-body {
    	margin-top: 0px !important;
	}
	
}




/*手機尺吋*/	
@media (max-width: 767px) {
	.visible-xs{display:block !important;}
	.formList dl{margin-bottom:0em;}
	.formList dl dt:after{display:none;position:static;padding-left:1em;}
	.formList dl dt small{display:inline-block;}
	.formList dl dd{padding-left:0em;}
	
	.Interrogation {background-size: cover;min-height: 0;padding: 30px 0;}
	.Interrogation h2 {font-size:16px;}
	.Interrogation h1 {font-size: 25px;}
	.Interrogation h1 span {font-size: 30px;}
	.Interrogation ul {padding-top:20px;}
	.Interrogation ul>li{width: 100%;}
	.Interrogation ul>li aside{max-width:200px;margin:auto;}

	
	.Information {padding: 20px 0 50px;}
	.Information article {padding: 30px 0;}
	
	.Information h1 {padding:.5em ;line-height:1.2;border-radius:10px;}

	.Information article h3{font-size:17px;}
	.Information article>ul>li{font-size: 15px;}
	.Information article ol>li {font-size: 13px;}


	.document figure ul>li>h3{font-size:15px;letter-spacing:.1em;}

	.document h1{font-size:25px;}	
	.document figure h1{font-size: 18px;line-height:1.5}

	.formList .txt ul li{padding-left:20px;}
	.formList .img h2{text-align:center !important;margin-bottom:20px;}

	.formListCheck{padding-left:20px;}
	.formListCheck dt{font-size:18px;}

	.endbox article h2{font-size:16px;}
	
	.verifyArea>*{width:48% !important;vertical-align:middle;}
	.verifyArea h6{width:100% !important;}

	.btn-send{font-size:20px;}
}

/*IPHONE X*/    
@media only screen and (device-width:375px) and (-webkit-device-pixel-ratio: 3) {


}

/*IPHONE SE*/    
@media (max-width: 360px) {

}
