/* CSS Document */
body,ul,li,ol,h1,h2,h3,h4,h5,h6,p{margin:0;padding:0;}
label{font-weight:normal;}
ul{list-style:none;}
ol{margin-left: 1.2em;}

a,button,a img,img{transition:all .5s}
a{text-decoration:none;cursor:pointer;color:#ff6857}
a.underline{text-decoration:underline}
/*a img:hover{transform:scale(0.95);transition:all 0.9s}*/
a:hover,a:focus{color:#FFAE00;text-decoration:none;}

li a:hover{text-decoration:none;}

dfn{font-style: normal;}

span{display:inline-block;}
img{max-width:100%;max-height:100%;}

input,select,button,img,i{vertical-align:middle;display:inline-block;}
input[type=checkbox],input[type=radio]{width:18px;height:18px;margin:0 2px;}
input[type=button],input[type=reset]{padding:5px 8px;}
table th input[type=radio]:checked +label{color:#FAFF50}

input:focus{outline: none;}

select,textarea,input:not([type=checkbox]):not([type=radio]){
	width:100%;
	/*line-height:1;*/
	padding:.7em 1em;
	resize: none;
    background: #f9f9f9;
    letter-spacing: .1em;
    border: none;
    border:1px solid #cbcbcb;
    font-size:15px;
    border-radius:5px;
    }

 input:disabled{background: #c7c7c7 !important;cursor:not-allowed !important;}
 select{
 	     -webkit-appearance: none;
 		background: url(../images/ico/arrow.png) no-repeat ;
		background-position: calc(100% - 8px) center ;
 		color:#333;
 	    padding-right:30px;  
 }
 select::-ms-expand { display: none; /*clear箭頭*/}

::-webkit-input-placeholder,select{font-weight:normal;}
::-webkit-input-placeholder {font-size: 15px;}


/*radio Style*/
input[type=radio]{width:30px;vertical-align: baseline;position:relative;
	-webkit-appearance: none;border-radius: 0;border:0;
}

input[type=radio]:not(*:root) {
	vertical-align: top;
    height: 0;/*Chrome、safari、Opera*/
}

input[type=radio]:before{
	width:10px;
	height:10px;
	background:none;
	border-radius:100%;
	border:none;
	content:"";
	position:absolute;
	left:calc(50% - 6px);
	top:9px;
	z-index: 10;
	display: block;
	/*background-color:#333;*/
	
}

input[type=radio]:after{
					content:"";
					width:28px;height:28px;
					border:1px solid #333;
					border-radius:100%;
					position:absolute;
					z-index: 0;top:0;
				}

input[type=radio]:checked:before{background-color:#fff;display:block}
input[type=radio]:checked:after{border-color:#ff6e52;background-color:#ff6e52;}


.btnAll {text-align:center;}
.btnAll button{width:45%;margin:0 .5%;}

button{border:none;outline:none;font-weight:300;line-height:2;font-weight:bold;max-width:300px;
	font-size:18px;border-radius:1em;padding: 0 1em;
}
button:hover{opacity:.8}

button.bdr30{border-radius:30px;}


.priBtn{background-color:#eee;color:#333;border-bottom-color:#0ec9a8;}
.priBtn:before{background-color:#ff8a00;}
.priBtn:hover{background-color:#FFF;}

.orgBtn{background:#ff6e52;color:#FFF;}
.grayBtn{background:#ececec;color:#000;}
.darkBtn{background:#9b9b9b;color:#FFF;}
.greenBtn{background:#20b6b8;color:#FFF;}
.blueBtn{background:#3a97ff;color:#FFF;}

/*bg*/
.bg{background: no-repeat center center;}
.bg-cover{background-size:cover}
.bg-contain{background-size:contain}

/*bg-color*/
.bg-blue{background-color:#a9e0e0}
.bg-blue2{background-color:#bfeded}
.bg-blue3{background-color:#aee7e7}


/*color*/
.gray{color:#999;}
.black{color:#333;}
.white{color:#FFF;}

.primary{color:#0ec9a8;}
.blue{color:#2c83bf}
.green{color:#0ec9a8}
.org{color:#ff6e52}


/*videoCover*/
.videoCover{background:no-repeat center center;background-size:cover;text-align:center !important;position:relative;overflow:hidden;}
.videoCover a:before{position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(193,214,0,0.2);transform:translateY(100%); 
	               	 content:"";transition:all .5s;z-index:0}
.videoCover a:hover:before{transform:translateY(0); }

.videoCover a{position:absolute;z-index:10;display:block;height:100%;width:100%;left:0;top:0;}
.videoCover a img{position:absolute;left:calc(50% - 45px);top:calc(50% - 45px);}
.videoCover a:hover img{transform:scale(.9);}

/*imgCover*/
.imgCover{background:no-repeat center center;background-size:cover;padding-bottom:52.75%;}
a .imgCover{transition:all .7s}
/*a:hover .imgCover{transform:scale(1.03);}*/


/*maps*/
.maps{position:relative;padding-bottom:30%;}
.maps iframe{position:absolute;width:100%;height:100%;left: 0;top:0;}

	 
/*tableStyle*/
.display-table,.display-table>li,.display-table>dl{display:table;width:100%;margin:auto;}
.display-table dt,.display-table dd,.display-table aside,.display-table article{
	display:table-cell;vertical-align:middle;font-weight:normal;
	}

/*手機時回歸原位*/ 
.display-table-xs-none{}

@media (max-width: 767px) {
   .display-table-xs-none,.display-table-xs-none>li,.display-table-xs-none>dl,
   .display-table-xs-none dt,.display-table-xs-none dd,.display-table-xs-none aside,.display-table-xs-none article
   {
   	display: block !important;
   	width: 100% !important;
   }

}

/*float*/
.FR{float:right !important}
.FL{float:left !important}
.clearAll{clear:both !important;}

/*table
table{width:100%;margin-bottom:30px;border-collapse:collapse;border:0;text-align:left;}

table th{border:1px solid #c5e2e3;padding:1em 1.5em;background:#e2f0f1;color:#333;}
table td{padding:1em 1.5em;border:1px solid #c5e2e3;}


table tr:nth-child(even){background:#fff;}
table tr:nth-child(odd){background:#dedede;}
*/

/*hr*/
hr{border-color:#ddd;margin:40px auto;}
hr.greenHR{border-color:#20b6b8;margin:0;}


/*list*/
.inlineBlock{
    font-size:0;
	[;font-size:12px;];
	*font-size:0;
	[;letter-spacing:-3px;];
	*letter-spacing:normal;
	*word-spacing:-1px;
    }

.inlineBlock>li{	
    display:inline-block;
	*display:inline;
	*zoom:1;
	letter-spacing:normal;
	word-spacing:normal;
	vertical-align:top;
	font-size:15px;
 }
 .inlineBlock>li a,.tabNav ul>li>a{display:block;}
 
 .list-inline{}
 .list-inline>li{
	 display:inline-block;
	 margin-right:10px;
	 }

.listTypeNone{list-style:none !important;}
.discList{list-style:disc;margin-left:1em;}


/*均分TAB*/
.tabNav ul{display:table;width:100%;}
.tabNav ul li{display:table-cell;width:1%;text-align:center;vertical-align: middle;}


/*noboder*/
.noborder{border:none}
.noMargin{margin:0px;}


/*display*/
.hidden{display:none;}
.show{display:block}
.showInlineBlock{display:inline-block}

.relative{position:relative !important;}
.absolute{position:absolute !important;}
.fixed{position:fixed !important;}

.flex-center{
				  display: flex;
				  justify-content: center;
				  align-items: center; 
				}

/*align*/
.alignCenter{text-align:center;}
.alignLeft{text-align:left;}
.alignRight{text-align:right}

/*aline-middle*/
.aline-middle:before{content:"";height:100%;display:inline-block;vertical-align:middle;}

/*font*/
.bold{font-weight:bold;}
.numberFonts{font-family:"Arial Black", Gadget, sans-serif;min-width:20px;background:#d8dce4;color:#4c5976;}

.txtOver2{
	overflow:hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	line-height: 1.7em;
	max-height: 3.6em;
}

.txtOver3{
	overflow:hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	display: -webkit-box;
	line-height: 1.7em;
	max-height: 5em;
}



/*border*/
.bdrCircle{border-radius:100% !important;}
.bdr5{border-radius:5px !important;}
.bdr10{border-radius:10px !important}
.bdr15{border-radius:15px !important}
.bdr20{border-radius:20px !important}
.blue_bd5{border:5px solid #2c3a44}


/*filter*/
.whiten{filter: invert(1) brightness(2) }
.shadow{filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5)); }