
/*網銀開通*/
.webbankInter{
	background-image: url(../images/webbank/bg.jpg);
	/*min-height:1300px;*/
}

.Interrogation.webbankInter ul li:last-child{display:none;}


.webbankInter ul li h4{letter-spacing:0.1em;}
.webbankInter ul li p{font-size:15px;font-weight:bold;line-height:1.6}
.webbankInter ul li aside{background-color:#c8c9ca;border-radius:100%;width:210px;height:210px;
									display:flex;align-items:center; justify-content: center;
									transition: all .7s;
									/*padding: 20px;*/
									}

.webbankInter ul li a{color:#333;}
.webbankInter ul li a:hover{color:#ff6e52;}
.webbankInter ul li a:hover aside,
.webbankInter ul li a aside.active
{background-color:#ff6e52;}

.webbank .container article>h3{margin-bottom:1em;text-align:center;font-weight:bold}

.webbank-final h4{color:#ff6e52;margin-top:1em;font-size:20px;}

/*手機尺吋*/	
@media (max-width: 767px) {
	.webbank .container article>h3{font-size:18px;}
}